* {
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: black;
    font: small-caps bold 1.5rem sans-serif;
    color: white;
    text-align: center;
}

nav {
    padding-top: 0.5rem;
}

nav>ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav>ul>li {
    border: 1px solid white;
    list-style: none;
    display: inline-block;
    width: 30vw;
    text-align: center;
    height: 2rem;
}

nav>ul>li.active {
    background-color: red;
}

div.panel {
    padding: 1rem;
    display: none;
}

div.panel.active {
    display: block;
}

div.panel#level {
    position: relative;
}

div.panel#level #view {
    position: relative;
    border: 1px solid white;
    width: 80%;
    height: calc(100% - 150px);
    display: inline-block;
    text-align: left;
    font-size: 0.5rem;
    background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
    overflow: hidden;
}

div.panel#level #view #scale {
    position: absolute;
    height: 100%;
    padding-left: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 0.5rem;
}

div.panel#level #view #sand {
    position: absolute;
    width: 100%;
    bottom: var(--main-bottom);
    height: calc(var(--main-step) * 2.7);
    background-color: #C2B280;
}

div.panel#level #view #road {
    position: absolute;
    width: 100%;
    background-color: black;
    height: calc(var(--main-step) * 0.3);
    bottom: calc(var(--main-step) * 2.7 + var(--main-bottom))
}

div.panel#level #view #waves {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

img.car {
    position: absolute;
    width:auto;
    animation: 3s linear 1s infinite running slideleft;
}

img.car.type1 {
    content:url(car1.svg);
    height: calc()
}

@keyframes slideleft {
    from {
        transform: translateX(110vw);
    }

    to {
        transform: translateX(-20vw);
    }
}