* {
	padding: 0;
	margin: 0;
}

html,
body {
	background-color: black;
	font: small-caps bold 5vmin sans-serif;
	color: white;
	text-align: center;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body nav {
	background-color: black;
}

ul {
	list-style: none;
}

ul.presentation>li {
	margin: 1rem 0;
}

div#shom {
	width: 100%;
	height: auto;
	overflow-x: scroll;
}

li.paypal form {
	border: 1px solid silver;
	width: 200px;
	display: inline-block;
	padding: 0.5rem;
	height: 50px;
	border-radius: 0.25rem;
	background-color: whitesmoke;
}

li.disclaimer {
	padding: 5vmin;
	text-align: justify;
	font: normal normal 3vmin sans-serif;
}

li.disclaimer p {
	padding: 3vmin 0;
}

li.disclaimer ol {
	padding-left: 2vmin;
	margin-left: 2vmin;
}

nav>ul {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav>ul>li {
	display: inline-block;
	width: 30vw;
	text-align: center;
	height: 9vmin;
	font-size: 7vmin;
	cursor: pointer;
}

nav>ul>li>img {
	height: calc(9vmin - 6px);
	border: 3px solid white;
	pointer-events: none;
}

nav>ul>li.active {
	background-color: blue;
}

div.panel {
	display: none;
	overflow-y: scroll;
	height: calc(var(--main-height) - 18vmin);
	width: 100%;
}

div.panel.active {
	display: block;
}

div.panel#level {
	position: relative;
	text-align: initial;
	margin: 0;
	padding: 0;
	background: radial-gradient(ellipse at center, #fffeea 0%, #fffeea 35%, #b7e8eb 100%);
	overflow: hidden;
}

div.panel#level #scale {
	position: absolute;
	height: 100%;
	width: 5vmin;
	z-index: 10;
	font-size: 5vmin;
}

div.panel#level #scale li.imperial {
	font-size: 2.8vmin;
	width: 3vmin;
}

div.panel#level #scale li {
	position: absolute;
	padding: 0 1vmin;
	text-align: center;
	border-bottom: 1px solid black;
}

div.panel#level #times {
	position: absolute;
	right: 0;
	height: 100%;
	display: block;
	width: 10vmin;
	z-index: 10;
}

div.panel#level #times li {
	text-align: center;
	position: absolute;
	width: 100%;
	text-align: center;
	font-size: 9vmin;
}

div.panel#level #times li:not(:first-of-type) {
	color: transparent;
	border-bottom: 1px solid black;
}

/* smartphones, touchscreens */
@media (hover: none) and (pointer: coarse) {

	div.panel#level #times li:not(:first-of-type).hover {
		border-bottom: 3px solid white;
		color: inherit;
		width: 100vw;
		right: 0;
		text-align: right;
		padding-right: 9vw;
	}

	div.panel#level #times li:not(:first-of-type).hover span.label {
		background-color: black;
		padding: 0 10px;
		border-radius: 10px;
	}
}

/* stylus-based screens */
@media (hover: none) and (pointer: fine) {
	/* ... */
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {

	div.panel#level #times li:not(:first-of-type):hover {
		border-bottom: 3px solid white;
		color: inherit;
		width: 100vw;
		right: 0;
		text-align: right;
		padding-right: 9vw;
	}

	div.panel#level #times li:not(:first-of-type):hover span.label {
		background-color: black;
		padding: 0 10px;
		border-radius: 10px;
	}
}


div.panel#level #times li:first-of-type img {
	width: 10vmin;
}

div.panel#level #times li:first-of-type img.down {
	transform: rotateX(180deg);
}

div.panel#level #sand {
	position: absolute;
	width: 100%;
	bottom: var(--main-bottom);
	height: calc(var(--main-step) * 2.7);
	background-color: #C2B280;
}

div.panel#level #road {
	position: absolute;
	width: 100%;
	background-color: black;
	height: calc(var(--main-step) * 0.3);
	bottom: calc(var(--main-step) * 2.7 + var(--main-bottom))
}

div.panel#level #waves {
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	z-index: 5;
}

img.car {
	position: absolute;
	width: auto;
	display: block;
	opacity: 0;
	bottom: calc(var(--main-step) * 3 + var(--main-bottom));
	animation-duration: 5s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-direction: normal;
}

img.car.left {
	opacity: 1;
	animation-name: slideleft;
	left: 100vw;
}

img.car.right {
	opacity: 1;
	animation-name: slideright;
	left: calc(0px - var(--main-car));
}

img.car.t1 {
	height: calc(var(--main-step) * 1.54)
}

img.car.t2 {
	height: calc(var(--main-step) * 1.45)
}

img.car.t3 {
	height: calc(var(--main-step) * 1.60)
}

img.car.t4 {
	height: calc(var(--main-step) * 1.50)
}

img.car.t5 {
	height: calc(var(--main-step) * 1.35)
}

img.car.t6 {
	height: calc(var(--main-step) * 1.80)
}

@keyframes slideleft {
	to {
		transform: translateX(calc(0px - 100vw - var(--main-car)));
	}
}

@keyframes slideright {
	from {
		transform: rotateY(180deg);
	}

	to {
		transform: translateX(calc(100vw + var(--main-car))) rotateY(180deg);
	}
}